<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-8 col-lg-8 offset-md-2">
             <h3>Proyect Prestamo</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos atque dolores, cumque laborum earum voluptatibus aperiam sunt sit. Voluptatibus eos fugit culpa voluptates animi iusto eligendi sed veritatis vel eveniet!</p>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-10 offset-md-1">
            <img src="../../../assets/prestamo.png" class="img-fluid centrado">
        </div>
    </div>
</div>
