<div class="row" style="background-color: grey;">

<div class="col-xs-2 col-md-2 col-lg-2">
    <img
    width="100%"
    alt="banner"
    src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png"
    />
</div>

<div class="col-md-7"></div>

<div class="col-md-1">

    <button id="linkedin" class="button" onclick="location.href='https://www.linkedin.com/in/jose-andres-flores-37a730140'">                      
    </button>       

</div>

<div class="col-md-1">
    <button id="facebook" class="button" onclick="location.href='https://www.facebook.com/jose.flores.73700/'">                      
    </button>
</div>

<div class="col-md-1">
    <button class="button">
        Login
    </button>
</div>

