<div class="row">
    <h1>Hard & Soft Skill</h1>
    <div class="col-xs-1 col-md-4 col-lg-4">
        <circle-progress
        [titleFontSize]="'21'"
        [percent]="85"
        [radius]="90"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [space]="9"
        [outerStrokeColor] = "'#002aff'"
        [innerStrokeColor] = "'#006eff'"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle] = "false"
        [unitsFontWeight]="'900'"
    ></circle-progress>
    <h6>C#</h6>

    </div>
    <div class="col-xs-1 col-md-4 col-lg-4">
        <circle-progress
          [titleFontSize]="'21'"
          [percent]="85"
          [radius]="90"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="8"
          [space]="9"
          [outerStrokeColor] = "'#002aff'"
          [innerStrokeColor] = "'#006eff'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle] = "false"
          [unitsFontWeight]="'900'"
        ></circle-progress>
        <h6>C++</h6>
    </div>

    <div class="col-xs-1 col-md-4 col-lg-4">
        <circle-progress
          [titleFontSize]="'21'"
          [percent]="85"
          [radius]="90"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="8"
          [space]="9"
          [outerStrokeColor] = "'#002aff'"
          [innerStrokeColor] = "'#006eff'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle] = "false"
          [unitsFontWeight]="'900'"
        ></circle-progress>
        <h6>Html</h6>
    </div>

    <div class="col-xs-1 col-md-4 col-lg-4">
        <circle-progress
          [percent]="85"
          [radius]="90"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [showSubtitle] = "false"
        ></circle-progress>
        <h6>Phyton</h6>
    </div>
</div>
