<div class="row">
    <div class="col-xs-2 col-sm-6 col-md-2">
        <img src="../../../assets/mia.jpg" id="fotoPrincipal" class="img-fluid">
    </div>
    <div class="col-xs-12 col-md-2">
    <h5 id="nombre">{{persona.apellido}} {{persona.nombre}}</h5>
    <p>Desarollador Full Stack</p>
    </div>
    <div class="col-xs-12 col-md-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
               Iusto, dignissimos corporis. Sed consequatur eaque saepe, 
               natus voluptas fuga itaque voluptatum, 
               odio minima distinctio dolore suscipit ut fugit excepturi, 
               libero eligendi.</p>
        </span>
    </div>
</div>
