<body>


    <div class="login-page">
        <div class="form">

          <form class="login-form" #f="ngForm" (ngSubmit)="onLogin()" novalidate >
            <input type="text" placeholder="nombreUsuario" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" required />
            <input type="password" placeholder="password" id="password" name="password" [(ngModel)]="password" required />
            <button type="submit">login</button>
          </form>

        </div>
  
            <!--Footer-->
            <app-footer></app-footer>

      </div>


</body>

